<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated uRDF -->
      <package
            uri="http://itu.dk/uRDF"
            class="uRDF.URDFPackage"
            genModel="model/uRDF.genmodel"/>
   </extension>

</plugin>
